<launch>
  <arg name="3d_sensor" default="kinect"/>  <!-- r200, kinect, asus_xtion_pro -->
  <arg name="custom_gmapping_launch_file" default="$(find turtlebot_navigation)/launch/includes/gmapping/kinect_gmapping.launch.xml"/>
  <!-- include file="$(arg custom_gmapping_launch_file)"/-->

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
      <param name="linearUpdate" value="0.5"/>   <!-- default: 1.0 -->
      <param name="angularUpdate" value="0.25"/> <!-- default: 0.5 -->
      <param name="particles" value="100"/>		 <!-- default: 30 -->
      <param name="xmin" value="-50.0"/>		 <!-- default: -100.0 -->
      <param name="ymin" value="-50.0"/>
      <param name="xmax" value="50.0"/>
      <param name="ymax" value="50.0"/>
    </node>


</launch>
